@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
.my_project{
    padding: 4rem;
}
.my_project h1{
    color: azure;
    text-align: center;
}
.project_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 2rem;
}
.project_container a{
    color: azure;
}
.project_container h3{
    text-align: center;
    padding: 20px 0;
}
/* .project_contaier_box{
    background-color: blue;
} */
.project_contaier_box, .project_contaier_box img{
    width: 260px;
}
.project_contaier_box img{
    height: 200px;
}